html
    link(rel="stylesheet",href="../form.css")
    head
        title pug document
    body
        h1 pug is working
        div.table
            table
                thead
                    th author_id 
                    th author_name 
                    th author_city
                tbody
                    each x in people
                        tr
                            td= x.author_id 
                            td =x.author_name
                            td=x.author_city 

            h3.alert.alert-dark Programmed by #{programmer}